// Main color palette
$color1: #e63946;
$color2: #f1faee;
$color3: #a8dadc;
$color4: #009dff;
$color5: #1d3557;

// Text color
$text-color: $color5;

// Border color
$border-color: #dbdbdb;
$border-color-after: $color3;

// Background color
$background-color: $color2;

// Button text color
$button-text-color: $color2;

// Link color
$link-color: $color4;

// Font family
$font-family: 'Roboto', sans-serif;