@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins';

// Main container for login form
.main-login-wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 15vh auto 0;
    padding: 20px;
    min-width: 350px;
    max-width: fit-content;
    border: 1px solid $border-color;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

// Title styling
.main-login-title {
    text-align: center;
    margin-bottom: 20px;

    h1 {
        color: $text-color;
        font-family: cursive;
    }
}

// Input fields with floating labels
.input-wrapper {
    position: relative;
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 12px 10px;
        border: 1px solid $border-color;
        border-radius: 4px;
        font-size: 16px;
        color: $text-color;
        background-color: transparent;
        transition: border-color 0.3s;

        &::placeholder {
            color: darken($text-color, 30%);
            opacity: 1;
        }

        &:focus {
            outline: none;
            border-color: $color4;
        }

        &:focus+label,
        &:not(:placeholder-shown)+label {
            transform: translateY(-150%);
            font-size: 12px;
            color: $color4;
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 16px;
        color: $border-color;
        pointer-events: none;
        transition: all 0.2s ease-out;
    }
}

// Password toggle button styling
.password-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: darken($text-color, 30%);
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

// Login button styling
.main-login-button {
    padding: 10px;
    text-align: center;
    background-color: $color4;
    color: $button-text-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;

    &:hover {
        background-color: darken($color4, 10%);
    }
}

// Forgot password link styling
.main-login-forgot-password {
    text-align: right;
    color: $link-color;
    cursor: pointer;
    margin-bottom: 20px;
}

// Sign up button styling
.main-login-sign-up-button {
    @include flex-center;
    width: 50vw;
    margin: 10px auto 0;
    padding: 20px;
    min-width: 350px;
    max-width: fit-content;
    border: 1px solid $border-color;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;

    span {
        margin-left: 5px;
        color: $color4;
    }
}

// Adjust input-wrapper for icon spacing
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    padding-right: 30px;
}